@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

:root {
  --background: #F2F0EA;
  --foreground: #4A4A4A;
  --primary: #C11C84;
  --secondary: #A8D5E3;
  --highlight: #FFD700;
  --border-primary: #A8D5E3;
  --border-secondary: #D3D3D3;
  --link: #A8D5E3;
  --success: #98FF98;
  --hover: #FFC1CC;
  --active: #F88379;
  --error: #E62739;
  --warning: #FF851B;
  --divider: #cccccc;
  --resume: #be577f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D1842;
    --foreground: #D3D3D3;
    --primary: #FF78AC;
    --secondary: #4A4A4A;
    --highlight: #FFDD00;
    --border-primary: #4A4A4A;
    --border-secondary: #C11C84;
    --link: #00FFFF;
    --success: #98FF98;
    --hover: #C63287;
    --active: #001F3F;
    --error: #E7473C;
    --warning: #FFDD00;
    --divider: #333333;
    --resume: #ffbed5;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.backface-hidden {
  backface-visibility: hidden;
}